<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav
        class="test"
        id="test"
        style="display: flex; align-items: center; justify-content: center"
        aria-activedescendant="test"
        aria-atomic="true"
        aria-autocomplete="both"
        aria-busy="true"
      >
        <ul>
          <li>
            <a
              href="http://test.carlos.silva.com.br/test1/test2/test3/test4.html"
              target="_blank"
              rel="noopener noreferrer"
            >
              Visit the website now!
            </a>
          </li>
        </ul>
      </nav>
    </header>
  </body>

</html>